<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" ><mapper namespace="com.act.activiti.dao.MembershipDao">    <resultMap id="MembershipMap" type="Membership">        <result property="userId" column="user_id_"/>        <result property="groupId" column="group_id_"/>    </resultMap>    <sql id="base">user_id_,group_id_</sql>    <select id="find" parameterType="java.lang.String" resultMap="MembershipMap">        select        <include refid="base"/>        from ACT_ID_MEMBERSHIP        where user_id_ = #{userId}    </select>    <select id="findCout" parameterType="java.lang.String" resultType="java.lang.Integer">        select        <include refid="base"/>        from ACT_ID_MEMBERSHIP        where user_id_ = #{userId}    </select></mapper>